
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Skills</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">Summary</h3>
                    <p class="paragraph-text center-align">
                        I am an aspiring Ph.D. student with goals to combine my background in data science, software engineering, and astronomical research to create packages, APIs, and websites for the community and derive solutions to research questions from a computer science-based perspective.
                    </p>
                </div>
                <div class="technical-skills-lanugages">
                    <h3 class="center-align skills-subsection">Languages & Frameworks</h3>
                    <div class="progress-bars">
                        <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Python, Flask, Javascript, Express</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                        <div class="skillbar clearfix " data-percent="85%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Javascript</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                        <div class="skillbar clearfix " data-percent="80%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Flask</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> <!-- End Skill Bar -->
                        <div class="skillbar clearfix " data-percent="75%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Express</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                    </div>
                </div>
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Data Tools</h3>
                    <div class="progress-bars">
                        <div class="skillbar clearfix " data-percent="95%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Numerical & Databases: Numpy and Pandas</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                        <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Modeling: Scikit-Learn, Tensorflow</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> <!-- End Skill Bar -->
                        <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Visualizations: MatplotLib, Seaborn</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                        <div class="skillbar clearfix " data-percent="85%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Astronomy Packages: AstroPy, AstroQuery</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                        <div class="skillbar clearfix " data-percent="85%">
                            <div class="skillbar-title" style="background: #2980b9"><span>Notebooks: Jupyter Lab, Google CoLab Notebooks</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                        <div class="skillbar clearfix " data-percent="80%">
                            <div class="skillbar-title" style="background: #2980b9"><span>Large-Scale Data Analysis: MapReduce, Hadoop, Spark</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                    </div>
                </div>
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Deployment Tools</h3>
                    <div class="progress-bars">
                        <div class="skillbar clearfix " data-percent="95%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>DigitalOcean</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                        <div class="skillbar clearfix " data-percent="95%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Caprover</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> <!-- End Skill Bar -->
                        <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Heroku</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                        <div class="skillbar clearfix " data-percent="85%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Amazon Web Services</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                    </div>
                </div>
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Database Tools</h3>
                    <div class="progress-bars">
                        <div class="skillbar clearfix " data-percent="95%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>MongoDB</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                        <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>SQL and SQLite</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> <!-- End Skill Bar -->
                    </div>
                </div>
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Command Line Interfaces</h3>
                    <div class="progress-bars">
                        <div class="skillbar clearfix " data-percent="95%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Linux</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                        <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Git</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> <!-- End Skill Bar -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
